html, body {
    background-color: #000000;
    color: white;
    text-align: center;
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
}

ul {
  list-style-type: none;
}

.navbar li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px; 
    background-image: url(/resources/photos/winesplash.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    
}
.about-us .content {
    background-color: black;
    width: 100%;
}
#wines {
    padding-top: 100px;
}
.packages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#wines img {
    height: 200px;
}
.Sommeliers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sommeliers img {
    height: 300px;
}
input {
    width: 300px;
}
label {
    font-size: 20px;
}